

  
  /* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@400;500;800&family=Raleway:wght@400;600&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

  /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Yeseva+One&display=swap'); */

* {
    margin: 0;
    padding: 0;
    font-family:'Open Sans';
    box-sizing: border-box; /* Border-box: padding use korle box boro hoi. Atake control kore. */
    scroll-behavior: smooth;     /* about page a click korle smoothly scroll hobe. suddenly na*/
}
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans';}
p{font-family: 'Open Sans';}
/*------headline a oswald use so h ke dia upore only open sens p are jonn raklam------*/
/*------BG on scroll start- for plug------------*/


    @keyframes bgDown {
        from{transform: translateY(-100px);}
        to{transform: translateY(0);} 
    }  
    
    
/* plugin preloader start*/
.preloader{position: fixed;
  width: 100%;
  height: 100vh;
  background: white;z-index: 6;
  display: flex;justify-content: center;align-items: center;}

.custom-loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color:#57c5a0;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }
/* ------------plugin preloader end*-------------/
/*------Back to top button start-for plugin-------*/
.back_to_top {position:fixed;bottom: 2px;right: 40px;
   /*-- first time test then jq use korbo for condition--*/
    animation:btt 0.4s ease-in ;z-index: 4;
    }
/*------Back to top button end--------*/
/*------top part start--------*/
.top-right {color:rgb(182, 179, 179);}
.top-right a {
  border-left: 1px solid gray;
  padding: 8px;
  border-right: 1px solid gray;
  text-decoration: none; color: rgb(182, 179, 179);;
}

/*-------- --Menu start -------------*/
.navbar{padding: 13px 0px 13px;}
.navbar{position: fixed; 
background:rgba(255,255,255,0.2);width: 100%; 
   transition:.4s;z-index: 5;}

.navbar-expand-lg .navbar-collapse {
    margin-right: 0;font-size: 14px;}
.navbar-brand {font-size: 35px;font-weight: 600;
}
.nav-link {font-weight: 700;color: gray;font-size: 15px;}
.nav-link:hover {color: white;}
.btn{color: white;}

.nav_icon{list-style: none;}
.nav_icon li {color: #e1b73a;}

.container img{font-size: 8px;}
.navbar-collapse {
  flex-grow: 0;/*-----FOR LEFT ALIGN-----*/
}
.menu-right1{border-left: 1px solid rgb(206, 204, 204);
border-right: 1px solid rgb(204, 203, 203);
}
.menu-right1 p{border-radius: 3px;font-size: 15px;padding:2px}
.menu-right1 p {background: #747373;}
.menu-right1:hover p {background: #57c5a0;}

/*----------------Hero part start--------------------*/

.hero_part{background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  /* background-position: center top; */
}
.hero_icon i{background: white;padding:14px}
.hero_icon i:hover {color: #57c5a0;}

.bg_animation{animation: bgDown 0.4s ease-out;
}
.hero-con h6{width: 70px;
} 
.hero-con h6{background:#57c5a0;
  ;
  height:70px;}
.hero-con h2{font-size:40px}
.hero-con{padding: 135px;}

 /*------------------ second/sale part ------------*/
.newb{padding: 3px 8px;border: 1px solid rgb(194, 193, 193);
font-weight: 500; font-variation-settings: 14px;}
.card{position: relative;}
.sale-con-main h5{background: rgba(0,0,0,0.5);width:173px;
 padding:15px; position: absolute;top: 90px;left: 92px;}

.span1{font-size: 18px;}
.span2{font-size: 13px;}
.sale_header a{text-decoration: none;}
.sale_header {padding :0 59px;}
.sale_header_main {background:rgb(90, 90, 90);padding :10px;margin: 15px;}

 
/*------------------ new arrival, new arrival part start ------------*/

.cardnew{background:rgb(238, 236, 236);padding: 15px;
border-style: none;}
.newboxx{padding: 5px 5px 0 5px;;width: 50px;
  height: 55px;  padding: 5px;
  background: #57c5a0;}

  .newline p {
    width: 100%;
    border-top: 1px solid rgb(161, 160, 160);
    margin: 0;
    padding: 0; 
}
 /*------------------ footer box part start------------*/
 .fline p {
  width: 100%;
  border-top: 1px solid black;
  margin: 0; 
  padding: 0; 
}
 .fboxx p{color:rgb(207, 207, 207);}
 .fbox {background: #242424}
 .fboxx {background: #242424}
 .fboxx p {
  font-style: italic;}

/*-----------------footer part start------------*/
.foot{background: #192331;}


.f_con{font-size: 13px;}
.f_con input{background: rgb(46, 46, 46);
border: none;}

.check {
  background:rgb(66, 66, 66);
  color: #2e2e2e;
  width: 8%;
  height: 45px;
  margin-left: -4px;
  border: none
}


.input{width:50%;height: 45px;}
.input{font-size:  16px;}
.fa-solid{font-size: 20px;}
.foot{background: #232323;}
.four_icon ul li {color: gray;width: 50px;height: 50px;
  background:#353434 ;display: flex;justify-content: center;align-items: center;
  border-radius: 8%;}
  .four_icon ul{list-style: none;}
  .four_icon ul li:hover{background: #57c5a0;color: white;}
/*-----------------last-footpart start------------*/

.flast{background: #2e2e2e;}
.flast-con p{color: gray;}


/*------------------media query start---------------------*/


@media (max-width: 786px) {
  
  
  
  h6{position: relative;
    left:0;width: 70px;
  } 
   .sale_header_main {padding :9px;margin: 5px;}
    .sale_header {padding :0 30px;}
    .span1{font-size: 14px;}
.span2{font-size: 10px;}
}  


@media screen and (max-width: 576px) {
  .hero-con h6{ left:0;width: 70px;
    }
     .hero-con h2{font-size:25px}
    .sale_header_main {padding :5px;margin: 2px;}
    .sale_header {padding :10px;}
    .span1{font-size: 10px;}
.span2{font-size: 10px;}
}  


@media screen and (max-width: 320px) {
  .hero-con{padding: 35px;}
  .hero-con h6{left:0;width: 70px;
    } 
    .hero-con h2{font-size:25px}

    .sale_header_main {padding :0px;margin: 0px;}
    .sale_header {padding :0px;}
    .input{width:70%;}
    .f_con{text-align: center;}
  
    .span1{font-size: 10px;text-align: center}
.span2{font-size: 10px;text-align: center;}
.flast-con{text-align: center;}
.navbar{background:white;}
}
